
<div>
    <div class="header">
      <h1 class="title">Bienestarfy </h1>
      <menu class="menu">
        <table></table>
        <ul>
          <li class="indice">
      
            <a routerLink="/actividad">Actividad</a>
            <a routerLink="/tipoactividad">Tipo de Actividad</a>
            <a routerLink="/categoria">Categoria</a>
            <a routerLink="/horario">Horario</a>
            <a routerLink="/tipohorario">Tipo de Horario</a>
            <a routerLink="/reserva">Reserva</a>
            <a routerLink="/role">Rol</a>
            <a routerLink="/suscripcion">Suscripcion</a>
            <a routerLink="/tiposuscripcion">Tipo de Suscripcion</a>
            <a routerLink="/usuario">Usuario</a>
          </li>
        </ul>
      </menu>
    </div>
    <router-outlet></router-outlet>
    <app-usuario></app-usuario>

  </div>
  