<p>reserva-listar works!</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="idrs">
    <th mat-header-cell *matHeaderCellDef>  ID-Reserva</th>
    <td mat-cell *matCellDef="let element"> {{element.idrs}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef>  FECHA  </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="iduser">
    <th mat-header-cell *matHeaderCellDef>  ID-USER  </th>
    <td mat-cell *matCellDef="let element"> {{element.iduser}} </td>
  </ng-container>

  <ng-container matColumnDef="idses">
    <th mat-header-cell *matHeaderCellDef>  ID-SESION  </th>
    <td mat-cell *matCellDef="let element"> {{element.idses}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>